.burger-menu{
    width: 30px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    position: fixed;
    right: 35px;
    top: 20px;
}
.burger-menu span{
    width: 100%;
    display: block;
    margin: 4px 0px;
    height: 3px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
aside{
    position: fixed;
    width: 400px;
    background: url('./../../assets/img/title-pattern.png');
    top: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    box-shadow: -3px 2px 10px rgba(0,0,0,0.5);
    overflow: auto;
    transition: all 0.3s ease-in;
    transform: translate(100%,0);
}

aside .submitPoll{
    padding: 20px 15px;
    width: 100%;    
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    background: rgb(0, 204, 255);
    cursor: pointer;
}
aside.show{
    /* display: block; */
    transform: translate(0,0);
}

aside .close-nav{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

aside .close-nav::after{
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    top: 50%;
    left: 0px;
    position: absolute;
    transform: rotate(45deg);
}

aside .close-nav::before{
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    top: 50%;
    left: 0px;
    position: absolute;
    transform: rotate(-45deg);
}

aside .aside-logo{
    margin-top: 70px;
}

aside .aside-logo img{
    width: 45px;
}

aside .aside-links{
    margin-top: 50px; 
    color: white;
}

aside .aside-links li:hover{
    background-color: rgba(0,0,0,0.6);
}

aside .aside-links a{
    padding: 15px 10px;
    display: block;
}

aside .social-container{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0px);
}

aside .social-container li{
    width: 33.33334%;
    display: inline-block;
}

aside .social-container li:hover{
    background-color: rgba(0,0,0,0.6);
}

aside .social-container li a{
    display: block;
    padding: 10px;
    color: white;
}

aside .poll-container{
    margin-top: 80px;
}

aside .poll-container p{
    padding: 10px;
    font-size: 14px;
    color: white;
}

aside .poll-options{
    color: white;
}


aside .poll-options li{
    width: 33.33334%;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
}

aside .poll-options.vote-cast li{
    background-color: rgba(0,0,0,0.6);
    color: #3B3B3B;
    
}

aside .poll-options.vote-cast li input[type=radio] + label{
    cursor: not-allowed;
}

aside .poll-options li:hover{
    background-color: rgba(0,0,0,0.6);
}

aside .poll-options li input[type=radio]{
    display: none;
}

aside .poll-options li input[type=radio] + label{
    width: 100%;
    padding: 15px 0px;
    cursor: pointer;
    display: inline-block;
}

aside .poll-options li input[type=radio]:checked + label{
    background-color: rgba(0, 204, 255, 0.63);
}

aside .poll-alert{
    color: white;
    background-color: #43c265;
    padding: 10px 10px;
    font-size: 14px;
}

.invalid-selection{
    animation-name: shakeIt;
    animation-duration: 0.3s;
}

@keyframes shakeIt {
    0% {
        transform: translate3d(-10px, 0px, 0px)
    }
    25% {
        transform: translate3d(10px, 0px, 0px)
    }
    50% {
        transform: translate3d(-10px, 0px, 0px)
    }
    75% {
        transform: translate3d(10px, 0px, 0px)
    }
    100%{
        transform: translate3d(0px, 0px, 0px)
    }
}

@media only screen and (max-width: 768px){
    aside{
        max-width: 320px;
    }
    aside .poll-container{
        display: none;
    }
}

@media only screen and (max-height: 700px){
    aside .aside-links a{
        padding: 10px 10px;
    }

    aside .poll-container{
        margin-top: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-height: 600px) {
    aside .social-container{
        position: static;
        transform: translate(0px, 0px);
        text-align: center;
        margin: 20px 0px 10px 0px;
    }
    aside .social-container li{
        width: auto;
    }
}