.footer-container{
    padding: 25px;
    background: url(/static/media/title-pattern.9a30e6c6.png);
    height: 320px;
}

.personal-email{
    margin-top: 35px;
    font-size: 48px;
    color: #d8d8d8;
}