@import url('https://fonts.googleapis.com/css?family=Crete+Round|Poiret+One|Roboto+Condensed:300,400,700|Roboto+Mono:300,400,500,700|Saira+Semi+Condensed:100,300,400,500,700');

*{
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Saira Semi Condensed', sans-serif; */
   font-family: 'Roboto Mono', monospace;  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

.main-font-color{
  color: #00CBFF;
}
.second-font-color{
  color: white;
}

.hero-image{
  height: 100vh;
  position: relative;
  background: url('./assets/img/wall.jpg') no-repeat;
  background-position: -50px -50px;
  background-size: calc(100% + 200px);
}

body.touch-device .hero-image{
  transition: all 0.1s ease-in;
  background-position: 0px 0px!important;
  background-size: cover;
}

@media only screen and (max-width: 1290px){
  .hero-image{
    background: url('./assets/img/wall.jpg') no-repeat;
  }
}

.transparent-overlay{
  height: 100vh;
  background: rgba(0,0,0,0.65);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cvslogo{
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.cvslogo img{
  width: 80px;
}
.intro-text{
  text-align: left;
  position: absolute;
  bottom: 15%;
  left: 15%;
}

.intro-text h1{
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 60px;
}

.intro-text h4{
  font-weight: 400;
  font-size: 28px;
}

.intro-text p{
  font-size: 18px;
}

@media only screen and (max-width: 480px){
  .intro-text{
    left: 10%;
    right: 5%;
  }

  .intro-text h1{
    font-size: 40px;
  }

  .intro-text h4{
    font-size: 24px;
  }

  .intro-text p{
    font-size: 16px;
  }
}